<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Security.Properties.Settings.StringConexion" connectionString="Data Source=.;Initial Catalog=CedetsaS4U;User ID=sa;Password=admin911!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>