<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desarrollo-pc.DASAPROD.dbo" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=DASAPROD" />
        <add name="._Current_Connection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=Current" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>