<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="desarrollo-pc.DASAPROD.dbo" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=DASAPROD" />
        <add name="Conexion" connectionString="XpoProvider=MSSqlServer;data source=.;user id=sa;password=admin911!;initial catalog=Current;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>